<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Quản Lí Bán Hàng</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .top-bar {
            background-color: #fff;
            padding: 10px 20px; 
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
        }

            .top-bar span {
                font-size: 14px;
                color: #333;
                margin-right: auto; 
            }

            .top-bar a {
                margin-left: 15px;
                text-decoration: none;
                color: #333;
                font-size: 14px;
            }

            .top-bar img {
                height: 20px;
                vertical-align: middle;
            }

        .header {
            background-color: #007bff;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        .nav-links {
            display: flex;
            align-items: center;
        }

            .nav-links a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                display: flex;
                align-items: center;
            }

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #007bff;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #0056b3;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .btn-container {
            margin-left: auto; 
        }

        .btn-sell {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .btn-sell:hover {
                background-color: #0056b3;
            }
    </style>
    @RenderSection("Styles", required: false)

</head>
<body>

    <!-- Top Bar -->
    <partial name="TopBar"></partial>
    <!-- Main Header -->
    <partial name="Menu"></partial>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
