<div class="header">
    <div class="logo">
        <i style="font-size:24px" class="fa fa-optin-monster"></i>
    </div>
    <div class="nav-links">
        <a href="#"><i class="fas fa-eye"></i> Tổng quan</a>
        <div class="dropdown">
            <a href="#"><i class="fas fa-box"></i> Hàng hóa</a>
            <div class="dropdown-content">
                <a href="#"><i class="fas fa-th"></i> Danh mục</a>
                <a href="#"><i class="fas fa-tag"></i> Thiết lập giá</a>
                <a href="#"><i class="fas fa-warehouse"></i> Kiểm kho</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
            <div class="dropdown-content">
                <a href="#">Đặt hàng</a>
                <a href="#">Hóa đơn</a>
                <a href="#">Vận đơn</a>
                <a href="#">Trả hàng</a>
                <a href="#">Nhập hàng</a>
                <a href="#">Trả hàng nhập</a>
                <a href="#">Xuất hủy</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#"><i class="fas fa-user-friends"></i> Đối tác</a>
            <div class="dropdown-content">
                <a href="#">Khách Hàng</a>
                <a href="#">Nhà Cung Cấp</a>
                <a href="#">Đối Tác Giao Hàng</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#"><i class="fas fa-users"></i> Nhân viên</a>
            <div class="dropdown-content">
                <a href="#">Nhân Viên</a>
                <a href="#">Lịch Làm Việc</a>
                <a href="#">Chấm Công</a>
                <a href="#">Bảng Tính Lương</a>
                <a href="#">Thiết Lập Hoa Hồng </a>
                <a href="#">Thiết Lập Chung</a>
            </div>
        </div>
        
        <a href="#"><i class="fas fa-money-bill"></i> Sổ quỹ</a>

        <div class="dropdown">
            <a href="#"><i class="fas fa-chart-bar"></i> Báo cáo</a>
            <div class="dropdown-content">
                <a href="#">Cuối Ngày</a>
                <a href="#">Bán Hàng</a>
                <a href="#">Đặt Hàng</a>
                <a href="#">Hàng Hóa</a>
                <a href="#">Khách Hàng</a>
                <a href="#">Nhà Cung Cấp</a>
                <a href="#">Nhân Viên</a>
                <a href="#">Kênh Bán Hàng</a>
                <a href="#">Tài Chính</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#"><i class="fas fa-shopping-cart"></i> Bán Online</a>
            <div class="dropdown-content">
                <a href="#">Bán Online</a>
                <a href="#">Website Bán Hàng</a>
                
            </div>
        </div>
       

        <div class="btn-container">
            <button class="btn-sell"><i class="fas fa-shopping-basket"></i> Bán hàng</button>
        </div>
    </div>
</div>
