<div class="top-bar">
    <span>Quản Lí Bán Hàng</span>
    <a href="#">Giao hàng</a>
    <a href="#">Vay vốn</a>
    <a href="#">Chủ đề</a>
    <a href="#">Hỗ trợ</a>
    <a href="#">Góp ý</a>
    <a href="#">Tiếng Việt</a>

    <a href="#"></a>
    <a href="#"></a>
</div>